<html>

<h2>Produits Domisep</h2>
<link rel="stylesheet" type="text/css" href="design.css">
<link rel="stylesheet" href="design/design.css">
<div id="container">
        <div id="list" style="left:-202px;">
            <img src="design/picture/camera_2.jpg" alt="1">
            <img src="design/picture/camera_2.jpg" alt="1">
            <img src="design/picture/camera_2.jpg" alt="1">
            <img src="design/picture/capteur_2.jpg" alt="2">
            <img src="design/picture/montre_2.jpg" alt="3">
            <img src="design/picture/montre_2.jpg" alt="4">
            <img src="design/picture/camera_2.jpg" alt="5">
            <img src="design/picture/capteur_2.jpg" alt="5">
            <img src="design/picture/capteur_2.jpg" alt="5">
           
        </div>
        <div id="buttons">
            <span data-index="1" class="on"></span>
            <span data-index="2"></span>
            <span data-index="3"></span>
            <span data-index="4"></span>
            <span data-index="5"></span>
        </div>
        <a href="javascript:void(0);" class="arrow" id="prev">&lt;</a>
        <a href="javascript:void(0);" class="arrow" id="next">&gt;</a>
    </div>
    <script type="text/javascript" src="js/sss.js">
    </script>
    </html>

